.artist_info_bio {
  background-color: whitesmoke;
  padding: 1em;
  width: 100%;
  border-radius: 10px;
}

.content_likeBook {
  display: flex;
  gap: 2em;
  align-items: center;
  width: max-content;
  margin-left: 20px;
}

.next_song {
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.next_song_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  margin-left: 10px;
  border-radius: 25px;
  padding: 3px 0;
}

.next_song h5 {
  font-weight: 600;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 0 15px;
}

.next_song_icon {
  font-size: 25px;
  color: white !important;
}

.next_song h5 span {
  color: var(--white);
  padding-left: 10px;
}

.next_song_btn {
  background: none;
  border: solid 2px var(--white);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: var(--bgc-grey);
}

.next_song_btn:active {
  background-color: var(--white);
}

.track_actions {
  display: flex;
  flex-direction: row;
  width: 20%;
  margin-left: 80px;
}

.Detail_Playlist {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.detail_song {
  width: 100%;
  height: 15vh;
  background: rgb(0, 0, 0);
  /* background-image: linear-gradient(90deg, var(--track) 60%, transparent),
    url("../images-client/pattern2.jpeg"); */
  border-radius: 10px;
  display: flex;
  box-shadow: var(--shadow-2);
  background-repeat: no-repeat;
  background-size: cover;
}

.detail_info {
  position: relative;
  padding: 10px 10px 10px 50px;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
}

.audio_player {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail_info h5 {
  z-index: 3;
  min-width: 20%;
  background: var(--track);
  padding: 3px 10px;
  border-radius: 10px;
  pointer-events: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 10px;
  background-color: var(--grey);
}

.artist_info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  align-items: center;
  width: 400px;
  padding: 1em 0;
  position: relative;
}

.audio_playlist_item p {
  padding-left: 15px;
}

.artist_info audio {
  position: absolute;
  left: 40%;
  top: 0;
}

.info {
  display: flex;
  gap: 2em;
  align-items: center;
  width: 600px;
}

.info h5 {
  color: var(--grey);
  font-weight: bold;
}

.artist_slider {
  width: 100%;
  height: 40vh;
  margin: 0 auto;
  border-radius: 10px;
}

.slider_item {
  width: 100%;
  height: 40vh;
  position: relative;
  border-radius: 10px !important;
}

.concert_info_title {
  font-weight: bolder;
  font-size: 8rem;
}
.concert_info_counter {
  font-weight: bold;
  font-size: 4rem;
}

.icon_clock {
  font-size: 2rem;
}

.concert_icon {
  margin-right: 10px;
}

.concert_info_location {
  font-size: 1rem;
  margin-left: 1em;
}

.final_concert_details {
  display: flex;
  gap: 1em;
}

.concert_info_location,
.concert_info_price {
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.concert_info_title,
.concert_info_counter,
.concert_info_location,
.concert_info_price {
  color: white;
}

.image_slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px !important;
  opacity: 0.2;
}

.image_slider img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.concert_info {
  position: absolute;
  left: 0%;
  bottom: 50%;
  transform: translateY(50%);
  width: 100%;
  height: 100%;
  padding: 1em;
  text-align: center;
  border: solid 1px rgba(255, 255, 255, 0.335);
  border-radius: 10px;
}

.slick-arrow {
  display: none !important;
}
.Tracks-Preview {
  margin: 1em auto 0 0;
  min-height: 100vh;
  padding: 2em;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
}

.navigate_home {
  padding: 20px;
}

.navigate_icon {
  font-size: 24px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: var(--white);
}

.navigate_icon:hover {
  color: var(--clr);
}

.track_list_section {
  margin-bottom: 1em;
}

.popular_song {
  padding: 5px 0;
  font-size: 12px;
}

.track_list_title {
  margin-bottom: 10px;
}

.track_list_songs {
  height: 15vh;
  width: 100%;
  overflow-y: scroll;
}

.Track-preview_first_section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 60%;
  margin: 0 auto;
  gap: 10px;
}

.top_preview_section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}

.artist-preview {
  width: 70%;
  height: 50vh;
  margin: 0 auto;
  gap: 30px;
  border: solid 1px var(--bgc-grey);
  background: var(--black);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: var(--shadow-2);
}

.aritst-pic {
  width: 30%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  filter: grayscale(1) contrast(1.2);
}

.aritst-pic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* biography card */

.bio-titles {
  height: 100%;
  padding: 25px 0 0 0;
  color: var(--white);
}

.bio-titles h6 {
  font-size: 16px;
}

.bio-titles h2 {
  font-weight: bold;
  color: var(--clr);
}

.bio-titles p {
  width: 60%;
}

.bio-titles p span {
  font-weight: bold;
}

.bio-titles .metadata {
  display: flex;
  justify-content: flex-start;
  width: max-content;
}

.bio-titles .metadata p {
  width: max-content;
  padding-right: 10px;
  color: var(--grey);
}

/* playlist and music ctrl */
.detail_song {
  border: transparent;
  position: relative;
}

.detail_info_music {
  width: 100%;
  padding-top: 10px;
}

.title_playing {
  width: max-content;
  display: flex;
  height: max-content;
}

.coming_up_next {
  color: var(--bgc-grey);
  margin-left: 2px;
}

.icon_coming_up {
  margin-right: 5px;
}
.playing_now h6 {
  font-size: 18px !important;
}

.title_playing h6 {
  margin-right: 5px;
}

.main_song_playing,
.playing_now {
  color: var(--clr);
}

.bio_title_song_playing {
  font-weight: bold;
}

.detail_info h6 {
  font-size: 14px;
  border: transparent;
}

.equalizer {
  position: absolute;
  right: 10px;
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.giphy-embed {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.dissapear {
  opacity: 0;
}

/* upload form */

.uploadform {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px !important;
  margin: 0 auto 0 auto;
  padding: 2em;
  border: solid 1px rgba(134, 133, 133, 0.267);
  border-radius: 10px;
  position: relative;
  box-shadow: var(--shadow-2);
  box-shadow: 0 3px 8px -1px rgba(134, 133, 133, 0.404);
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.876),
      rgba(0, 0, 0, 0.876)
    ),
    url("../images-client/pattern.webp");
  position: relative;
}

.uploadform p {
  width: 100%;
  text-align: center;
}

.uploadform p span {
  color: var(--clr);
}

.upload_success {
  font-size: 34px;
}

.upload_icon_btn {
  color: white;
  font-size: 30px;
}

.pg_bar {
  position: absolute;
  width: 83%;
  height: 3px !important;
  transform: translateX(-50%);
  left: 50%;
  bottom: 15px;
  margin: 0 auto;
}

.uploadBtn {
  background-color: var(--clr) !important;
  border: none !important;
  color: black !important;
  font-weight: bold !important;
}

.disabled_btn {
  background-color: var(--grey) !important;
}

.forminput {
  background: black !important;
}

.upload_label {
  width: 100%;
  height: 25vh;
  cursor: pointer;
}

.upload_label p {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.upload_icon {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.upload_label:hover .upload_icon {
  transform: scale(1.1);
}

/* loader */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.spinner {
  width: 100%;
  height: 20vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
