.artist_info_bio {
  background-color: whitesmoke;
  padding: 1em;
  width: 100%;
  border-radius: 10px;
}

.content_likeBook {
  display: flex;
  gap: 2em;
  align-items: center;
  width: max-content;
  margin-left: 20px;
}

.next_song {
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next_song_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  margin-left: 10px;
  border-radius: 25px;
  padding: 3px 0;
}

.next_song h5 {
  font-weight: 600;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 0 15px;
}

.next_song_icon {
  font-size: 25px;
}

.next_song h5 span {
  color: var(--white);
  padding-left: 10px;
}

.next_song_btn {
  background: none;
  border: solid 2px var(--white);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.next_song_btn:active {
  background-color: var(--white);
}

.track_actions {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.Detail_Playlist {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.detail_song {
  width: 100%;
  background-image: linear-gradient(90deg, var(--track) 60%, transparent),
    url("../images-client/pattern2.jpeg");
  border-radius: 10px;
  display: flex;
  box-shadow: var(--shadow-2);
}

.detail_info {
  position: relative;
  padding: 10px;
  width: 70%;
  height: 10vh;
  display: flex;
}
.detail_info h5 {
  z-index: 3;
  min-width: 20%;
  background: var(--track);
  padding: 3px 10px;
  border-radius: 10px;
  pointer-events: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 10px;
  background-color: var(--grey);
}

.artist_info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  align-items: center;
  width: 400px;
  padding: 1em 0;
  position: relative;
}

.artist_info audio {
  position: absolute;
  left: 40%;
  top: 0;
}

.info {
  display: flex;
  gap: 2em;
  align-items: center;
  width: 600px;
}

.info h5 {
  color: var(--grey);
  font-weight: bold;
}
.Tracks-Preview {
  margin: 10em auto 0 0;
  min-height: 100vh;
  padding: 2em;
  width: 100%;
  overflow: hidden;
}

.Track-preview_first_section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 60%;
  margin: 0 auto;
  gap: 10px;
}
