/* landing home section */
/* .landingpage {
} */

.home_headlines {
  height: max-content;
}

.home_headlines .intro_title {
  font-size: 5rem;
  font-weight: bold;
  color: var(--bgc-grey);
}

.welcome_message {
  font-weight: 100;
  width: 22vw;
  background: rgba(44, 43, 43, 0.411);
  border-radius: 3px;
}

.welcome_message_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.welcome_message_container p {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

/* artist cards section */

.contentPage {
  width: 100%;
}

/* artist creation form */

.submission_btns {
  margin-top: 10px;
}

/* form */
.artist_form_editor {
  margin-top: 2em;
  width: 100%;
  height: max-content;
  background: linear-gradient(120deg, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)),
    url("../images-client/bgc.png");
  background-repeat: no-repeat;
}

.App-header-form {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 50px;
}

.input_ctrl {
  width: 100%;
  position: relative;
}

.field_icon {
  font-size: 20px;
  color: var(--bgc-grey);
  padding-bottom: 3px;
}

.label_field_artist {
  position: absolute;
  color: var(--bgc-grey);
  left: 2%;
  top: 50%;
  transform: translateY(0%);
  display: flex;
  justify-content: center;
}

.label_text {
  color: var(--bgc-grey);
}

.song_details_form {
  display: flex;
  gap: 10px;
  width: 100%;
}

.artist_input_textmessage {
  color: rgb(214, 54, 107);
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  right: 10px;
}

.send_icon {
  font-size: 25px;
}

.warning_icon {
  margin-right: 5px;
  margin-top: 2px;
}

.artist_input_messages {
  position: absolute;
  top: 30%;
  transform: translateY(0%);
  right: 10%;
}

.artist_message_icon_success {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 20px;
}

.artist_input_field {
  padding: 35px;
  border-radius: 5px !important;
  border: none;
}

.artist_input_field,
.submit_btn_artist_el {
  padding: 10px 5px;
  width: 100%;
  border-radius: 5px !important;
}

.submit_btn_artist_el {
  border: none;
  background: var(--clr);
  font-weight: bold;
  color: var(--white);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.submit_btn_artist_el:hover {
  background: var(--white);
  color: var(--clr);
}

.submit_btn_artist {
  width: 100%;
}

.App-header-form h3 {
  color: white;
}

label {
  display: block;
  color: rgb(255, 255, 255);
}

.submission_btns {
  width: 220px;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.submission_btns .submission {
  width: 100%;
}

.cancel {
  background: none !important;
  border: solid 1px white !important;
}

.cancel:hover {
  background-color: rgba(255, 255, 255, 0.219) !important;
}

.artist-submission {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 65vh;
  max-width: 500px;
}

.update_form_mid_section {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.mid_sections {
  width: 100%;
}

.update_label_text {
  display: flex;
  height: 3vh !important;
}

.form_input_ctrl {
  padding: 10px 5px !important;
}

.update_form_label {
  margin-bottom: 20px !important;
}

/* origin of rumba section */
.moreContent {
  height: max-content;
  overflow: hidden;
}

.moreContent .description {
  color: whitesmoke;
  padding: 1em;
  height: 100%;
}

.description h3 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0.5em;
}

.description p {
  font-size: 22px;
}

.description {
  height: 300px;
}

.preview {
  text-align: center;
}
.preview,
.description {
  width: 650px;
}

.concerts {
  width: 100%;
  border: solid 1px rgba(131, 131, 131, 0.329);
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  overflow: hidden;
}

.concerts h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.concert-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.concert {
  width: 500px;
  height: 250px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
  font-size: 30px;
  color: white;
  font-weight: bold;
  position: relative;
  border: solid 1px rgba(255, 255, 255, 0.37);
  overflow: hidden;
}

.concert h1 {
  position: absolute;
  bottom: 0;
  text-transform: capitalize;
  left: 2%;
}

.concert a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.37);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.concert:hover a {
  color: white;
}

.concert:nth-child(n):hover {
  background-size: 103%;
}

.concert-location1 {
  background-image: linear-gradient(to top, black, transparent),
    url("../images-client/theater.jpeg");
}
.concert-location2 {
  background-image: linear-gradient(to top, black, transparent),
    url("../images-client/wemba.jpeg");
}
.concert-location3 {
  background-image: linear-gradient(to top, black, transparent),
    url("../images-client/concert.jpeg");
}

.moreContent .explore_history {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
