/* navbar */

.navigation {
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 1em;
  margin-bottom: 1em;
}

.sticky_nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  width: 98%;
  height: 10vh;
  transform: translateX(-50%);
}

.google_logout {
  font-size: 30px;
  color: white;
}

.google_logout_container {
  background: none !important;
  border: solid 1px rgba(255, 255, 255, 0.137) !important;
  color: white;
}

/* navbar message */
.welcome_message {
  color: var(--white);
  width: max-content;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  overflow: hidden;
}

.welcome_message img {
  width: 40px;
  border-radius: 40px;
}

.welcome_message p {
  padding-top: 20px;
  order: -1;
}

.welcome_message p span {
  font-weight: bolder;
  color: var(--clr);
}

/* logo */

.logoIcon {
  font-size: 30px;
  color: var(--clr);
}
