.canvas {
  width: 80%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10%;
  left: 30%;
  z-index: 0;
  position: absolute;
  opacity: 0.3;
}
