.contentPage {
  position: relative;
}

.Bio {
  font-size: 16px;
}

.cardGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em 0;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.877),
      rgba(0, 0, 0, 0.877)
    ),
    url("../images-client/pattern2.jpeg");
}

.card {
  width: 300px;
  height: 500px;
  justify-content: center;
  background-color: var(--clrdark) !important;
  color: white;
  border: solid 1px rgba(216, 215, 215, 0.247) !important;
  position: relative;
  box-shadow: var(--shadow-1);
  overflow: hidden;
}

.mac_card {
  width: 300px;
  height: 300px;
  justify-content: center;
  background-color: var(--clrdark) !important;
  color: white;
  border: solid 1px rgba(216, 215, 215, 0.247) !important;
  position: relative;
  box-shadow: var(--shadow-1);
}

.mini_logo_card {
  position: absolute;
  z-index: 3;
  top: 5%;
  left: 5%;
}

.artistPicture {
  max-height: 220px;
  min-height: 200px;
  object-fit: cover;
  filter: grayscale(1);
  transition: all 0.5s ease-in-out;
}

.mac_artistPicture {
  height: 300px;
  min-height: 200px;
  object-fit: cover;
  filter: grayscale(1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 6px;
}
.artistPicture:hover {
  filter: grayscale(0);
}

.mac_cardbody {
  border: solid 1px rgba(255, 255, 255, 0.274);
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.294);
  border-radius: 6px;
}

.imageFiller {
  width: 100%;
  height: 50px;
  position: absolute;
  background-image: linear-gradient(to top, #000000f6, transparent);
  bottom: 275px;
  z-index: 2;
}

/* add arstist floating btn */
.nextpage {
  position: absolute;
  bottom: 50%;
  right: 0%;
  background-color: var(--clr) !important;
  border: none !important;
  font-size: 30px !important;
}

.cardDetails {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  color: white;
  margin: 10px 0;
}

.cardSubtitle,
.icon {
  padding-top: 5px;
}

.artist_sub_details {
  display: flex;
  margin-top: 1em;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.mac_cardSubtitle {
  width: max-content;
  height: max-content;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  gap: 5px;
  padding: 5px 5px;
}

.mac_cardSubtitle span {
  color: var(--clr);
  padding-top: 5px;
  font-size: 10px;
}

.mac_icon {
  color: var(--clr);
}

.artistName {
  font-weight: bold;
  font-size: 25px !important;
  color: var(--clr);
  position: absolute;
  top: 41%;
  z-index: 2;
}

.mac_cardbody .mac_artistName {
  font-weight: bold;
  font-size: 15px !important;
  color: white;
  position: absolute;
  bottom: 5%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

/* card buttons */
.actions {
  display: flex;
  gap: 1em;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.mac_Bio {
  background: var(--clr);
  width: 100%;
  min-height: 20vh;
  height: 100%;
  padding: 1em;
  border-radius: 6px;
  position: absolute;
  left: 0%;
  top: 0%;
  clip-path: circle(0% at 10% 10%);
  transition: all 0.5s ease;
  padding-top: 40px;
}
.mac_Bio h4 {
  font-weight: bold;
}

.mac_cardbody:hover .mac_Bio {
  clip-path: circle(100% at 10% 10%);
}

.mac_cardbody:hover .mac_artistName {
  color: white;
}

.mac_actions .playlist a {
  width: 40px;
}

.mac_actions .play_list_icon {
  position: absolute;
  bottom: 5%;
  right: 15%;
  color: white;
}

.mac_actions .updateBtn {
  position: absolute;
  bottom: 5%;
  right: 35%;
  font-size: 20px;
}

.mac_actions .deleteBtn {
  position: absolute;
  bottom: 5%;
  right: 0%;
  font-size: 20px;
}

.mac_actions .play_list_icon {
  font-size: 50px;
}

.actions .playlist a {
  width: 40px;
}

.card_btn {
  font-size: 30px !important;
}

.card_btn_icon {
  transition: all 0.5s ease-in-out;
}

.card_btn_icon:hover {
  transform: scale(1.1);
}
